* {
  /*width: 100%;*/
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.game-container {
  /*width: 775px;*/
  width: 467px;
  /*height: 703px;*/
  height: 424px;
  border: 1px solid red;
  margin: auto;
  position: relative;
  background: teal;
}

.action-container {
  /*width: 65%;*/
  border: 1px solid blue;
  float: left;
}

.feedback-container {
  width: 35%;
  border: 1px solid yellow;
  float: right;
  -webkit-box-shadow: inset 0px 4px 81px 3px rgba(0,0,0,0.47);
  -moz-box-shadow: inset 0px 4px 81px 3px rgba(0,0,0,0.47);
  box-shadow: inset 0px 4px 81px 3px rgba(0,0,0,0.47);
}

.grid-row {
  width: 100%;
  /*height: 50px;*/
  height: 30px;
}

.grid-sq {
  /*width: 50px;
  height: 50px;*/
  -webkit-box-shadow: inset -4px 4px 15px 3px rgba(0,0,0,0.47);
  -moz-box-shadow: inset -4px 4px 15px 3px rgba(0,0,0,0.47);
  box-shadow: inset -4px 4px 15px 3px rgba(0,0,0,0.47);
  width: 30px;
  height: 30px;
  border: 1px solid black;
  float: left;
}

.new-game-button {
  height: 20px;
}

#piece-queue {
  margin: auto;
  height: 122px;
  width: 152px;
  -webkit-box-shadow: inset 0px 4px 81px 3px rgba(0,0,0,0.47);
  -moz-box-shadow: inset 0px 4px 81px 3px rgba(0,0,0,0.47);
  box-shadow: inset 0px 4px 81px 3px rgba(0,0,0,0.47);
  border: 1px solid #333;
  background-color: white;
}
